<%- include('header'); %>
<%- include('nav'); %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Register Number</th>
			<th>City</th>
			<th>Address</th>
			<th>Floors</th>
			<th>Elevators</th>
			<th>Type Elevator</th>
			<th>Ground Floor</th>
			<th>Basement</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0, n = results.length; i< n; i++) {%>
		<tr>
			<td><%= i+1 %></td>
			<td><%= results[i].regnum %></td>
			<td><%= results[i].city %></td>
			<td><%= results[i].address %></td>
			<td><%= results[i].floors %></td>
			<td><%= results[i].numberElevators %></td>
			<td><a href="elevator/<%= results[i].typeElevator.typeId %>"><%= results[i].typeElevator.text %></a></td>
			<td><%if (results[i].gfloor){ %>
				<span class="glyphicon glyphicon-ok"></span>
				<% } else {%>
				<span class="glyphicon glyphicon-remove"></span>
				<% } %>
			</td>
			<td><%if (results[i].basement){ %>
				<span class="glyphicon glyphicon-ok"></span>
				<% } else {%>
				<span class="glyphicon glyphicon-remove"></span>
				<% } %>
			</td>
			<td>
				<a href="address/edit/<%= results[i]._id %>"><button class="btn btn-info">Edit</button></a>
			</td>
			<td>
				<form method="POST" action="address/delete/<%= results[i]._id %>?_method=DELETE"><button class="btn btn-danger">Delete</button></form>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>

<%- include('footer'); %>